<div class="container">
   
  <h1>Gestión Proveedores Transporte</h1>
  

<div class="reglist">

    <table>
        <thead>
            <tr>
              <th style="padding: 20px;">Nombre Prov. Transporte:</th>
              <th></th>
             
            </tr>
          </thead>
        <tbody>
            <tr >
              <td> 
                  
                      <div class="col-3 input-group">
                          <input type="text" style="width:120px;"  name="filtroNombre" [(ngModel)]="filtroNombre"/>
                         
                      </div>
                      
                
                    </td>
               <td>
                  <button type="button" (click)="filtrar()" class="btn btn-info" >
                      <span class="fa fa-search"></span> 
                    </button>
              </td>
             
            </tr>
          </tbody>
      </table>
      <br/>
<table class="table table-striped">
<thead>
  <tr>
    <th>Id</th>
    <th>Nombre Prov. Transporte</th>
    <th>Descripción Prov. Transporte</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let proveedort of proveedorest | paginate: { id: 'listing_pagination',
  itemsPerPage: 5,
  currentPage: page,
  totalItems: totalRec }; let i = index">
    <td>{{ proveedort.idPROVEEDORT }}</td>
    <td>{{ proveedort.nomPROVEEDORT }}</td>
    <td>{{ proveedort.desPROVEEDORT }}</td>
    <td>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-edit-Modal" (click)="onEdit(i)"><span class="fa fa-pencil"></span> Editar</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#myModal" (click)="confirmDelete(i)"><span class="fa fa-minus"></span> Eliminar</button>
    </td>
  </tr>
</tbody>
</table>
<div>
  <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
  </div>
<div class="text-left">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-Modal"  (click)="onNew()"><span class="fa fa-plus"></span> Agregar</button>
  <button type="button" class="btn btn-primary"  (click)="exportarExcel()"><span class="fa fa-file-excel-o"></span> Generar Excel</button>
</div>
</div>
<br>  



<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirmación</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
       ¿Está seguro que desea eliminar este elemento?
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete(selectedIndex)">Sí</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
      
    </div>
  </div>
</div>




<div class="regentry" *ngIf="showNew">
<div class="modal fade" id="add-edit-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="padding:20px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar/Editar Proveedor Transporte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <br/>
      <form [formGroup]="formProveedort" (ngSubmit)="onSave()">
        <div class="form-group row">
          <label for="idPROVEEDORT" class="col-2 col-form-label">Id Proveedor Transporte</label>
          <div class="col-10" >
            <input  class="form-control"   type="text" maxlength="45" [(ngModel)]="regModel.idPROVEEDORT" formControlName="idPROVEEDORT" name="idPROVEEDORT">
          </div>
        </div>
        <div class="form-group row">
          <label for="nomPROVEEDORT" class="col-2 col-form-label control-label required">Nombre Proveedor Transporte</label>
          <div class="col-10" >
            <input  class="form-control" [ngClass]="{'has-error': !formProveedort.controls['nomPROVEEDORT'].valid && formProveedort.controls['nomPROVEEDORT'].touched}"  type="text" maxlength="45" [(ngModel)]="regModel.nomPROVEEDORT" formControlName="nomPROVEEDORT" name="nomPROVEEDORT">
            <div style="color:red;" *ngIf="!formProveedort.controls['nomPROVEEDORT'].valid && formProveedort.controls['nomPROVEEDORT'].touched">
              Campo requerido.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="desPROVEEDORT" class="col-2 col-form-label control-label required">Descripción Proveedor Transporte</label>
          <div class="col-10">
            <textarea class="form-control"  [ngClass]="{'has-error': !formProveedort.controls['desPROVEEDORT'].valid && formProveedort.controls['desPROVEEDORT'].touched}"  maxlength="250" [(ngModel)]="regModel.desPROVEEDORT" formControlName="desPROVEEDORT" name="desPROVEEDORT"></textarea>
            <div style="color:red;" *ngIf="!formProveedort.controls['desPROVEEDORT'].valid && formProveedort.controls['desPROVEEDORT'].touched">
              Campo requerido.
            </div>
          </div>
        </div>
        <div class="text-left">
        <button type="submit" class="btn btn-primary"  [disabled]="!formProveedort.valid"> <span class="fa fa-check"></span> Guardar</button>
        <button type="submit" class="btn btn-danger" #modalClose data-dismiss="modal" (click)="onCancel()"><span class="fa fa-remove"></span> Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>


</div>


</div>
