<div class="container">
   
  <h1>Control Materiales</h1>
  

<div class="reglist">

    <table>
        <thead>
            <tr>
              <th style="padding: 20px;">Número recibo:</th>
              <th style="padding: 20px;">Fecha desde:</th>
              <th style="padding: 20px;">Fecha hasta:</th>
              <th></th>
             
            </tr>
          </thead>
        <tbody>
            <tr >
                <td><div class="col-3 input-group">
                    <input type="text" name="fecha2" [(ngModel)]="numeroReciboFiltro">
                    
                </div>
                </td>
              <td> 
                     <div class="col-3 input-group">
                          <input type="text" style="width:120px;"  name="fecha1" [(ngModel)]="fechaDesdeFiltro" ngbDatepicker #fecha1="ngbDatepicker">
                          <button class="input-group-addon" (click)="fecha1.toggle()" type="button">
                            <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                          </button>
                      </div>
                      
                
                    </td>
              <td><div class="col-3 input-group">
                  <input type="text" style="width:120px;"   name="fecha2" [(ngModel)]="fechaHastaFiltro" ngbDatepicker #fecha2="ngbDatepicker">
                  <button class="input-group-addon" (click)="fecha2.toggle()" type="button">
                    <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                  </button>
              </div>
              </td>
              
               <td>
                  <button type="button" (click)="filtrar()" class="btn btn-info" >
                      <span class="fa fa-search"></span> 
                    </button>
              </td>
             
            </tr>
          </tbody>
      </table>
      <br/>
<table class="table table-striped">
<thead>
  <tr>
    <th>Numero Recibo</th>
    <th>Cliente</th>
    <th>Obra</th>
    <th>Materiales</th>
    <th>Cantidad</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let registration of registrations | paginate: { id: 'listing_pagination',
  itemsPerPage: 5,
  currentPage: page,
  totalItems: totalRec }; let i = index">
   <td class="text-right">{{ registration.idCONTROL_MATERIALES }}</td>
    <td>{{ registration.cliente[1] }}</td>
    <td>{{ registration.obra[1] }}</td>
    <td>{{ registration.material[1] }}</td>
    <td class="text-right">{{ registration.cantidad }}</td>
    <td>{{ registration.fecha.day + '/' + registration.fecha.month + '/' + registration.fecha.year}}</td>
    <td>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-edit-Modal" (click)="onEdit(i)"><span class="fa fa-pencil"></span> Editar</button>
    </td>
    <td>
        <button [disabled]="user.codRol==2" type="button" class="btn btn-danger"  data-toggle="modal" data-target="#myModal" (click)="confirmDelete(i)"><span class="fa fa-minus"></span> Eliminar</button>
    </td>
  </tr>
</tbody>
</table>
<div>
    <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>
<div class="text-left">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-Modal"  (click)="onNew()"><span class="fa fa-plus"></span> Agregar</button>
  <button type="button" class="btn btn-primary"  (click)="exportarExcel()"><span class="fa fa-file-excel-o"></span> Generar Excel</button>
</div>
</div>
<br>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirmación</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         ¿Está seguro que desea eliminar este elemento?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete(selectedIndex)">Sí</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
        
      </div>
    </div>
  </div>

<div class="regentry" *ngIf="showNew">
<div class="modal fade" id="add-edit-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="padding:20px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar/Editar Recibo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <br/>
      <form [formGroup]="formControlMateriales" (ngSubmit)="onSave()">
        <div class="form-group row">
          <label for="firstname-input" class="col-2 col-form-label ">Número Recibo</label>
          <div class="col-10">
              <input  class="form-control"   type="text" maxlength="45" [(ngModel)]="regModel.idCONTROL_MATERIALES" formControlName="idCONTROL_MATERIALES" name="idCONTROL_MATERIALES">
          </div>
        </div>
        <div class="form-group row">
          <label for="city-input" class="col-2 col-form-label control-label required">Cliente</label>
          <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
            <button type="button" class="btn btn-outline-primary" id="dropdownManual1" name="clienteSelect"  [ngClass]="{'has-error': !formControlMateriales.controls['cliente'].valid && !clienteValido}"  ngbDropdownToggle>{{regModel.cliente[1]}}</button>
            <div style="color:red;" *ngIf="!formControlMateriales.controls['cliente'].valid && !clienteValido">
                Campo requerido.
              </div>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button type="button" class="dropdown-item" *ngFor="let cliente of clientes" (click)="onChangeCliente(cliente)">
                  <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.cliente[0]" formControlName="cliente" name="cliente">
                {{cliente.nomCLIENTE}}</button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="lastname-input" class="col-2 col-form-label control-label required">Obra</label>
          <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
              <button type="button" class="btn btn-outline-primary" [ngClass]="{'has-error': !formControlMateriales.controls['cliente'].valid && !clienteValido}" id="dropdownManual2" name="selectObra" ngbDropdownToggle>
                  <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.obra[0]" formControlName="obra" name="obra">
                {{regModel.obra[1]}}
              </button>
              <div style="color:red;" *ngIf="!formControlMateriales.controls['obra'].valid && !obraValido">
                Campo requerido.
              </div>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button type="button" class="dropdown-item" *ngFor="let obra of obras" (click)="onChangeObra(obra)">{{obra.nomOBRA}}</button>
              </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastname-input" class="col-2 col-form-label control-label required">Proveedor</label>
            <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
                <button type="button" class="btn btn-outline-primary" [ngClass]="{'has-error': !formControlMateriales.controls['proveedor'].valid && !proveedorValido}" id="dropdownManual4" name="selectProveedor" ngbDropdownToggle>
                    <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.proveedor[0]" formControlName="proveedor" name="proveedor">
                  {{regModel.proveedor[1]}}
                </button>
                <div style="color:red;" *ngIf="!formControlMateriales.controls['proveedor'].valid && !proveedorValido">
                    Campo requerido.
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button type="button" class="dropdown-item" *ngFor="let proveedor of proveedores" (click)="onChangeProveedor(proveedor)">{{proveedor.nomPROVEEDOR}}</button>
                </div>
              </div>
          </div>

          <div class="form-group row">
            <label for="lastname-input" class="col-2 col-form-label control-label required">Provedor Transporte</label>
            <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
                <button type="button" class="btn btn-outline-primary" [ngClass]="{'has-error': !formControlMateriales.controls['proveedort'].valid && !proveedortValido}" id="dropdownManual5" name="selectProveedort" ngbDropdownToggle>
                    <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.proveedort[0]" formControlName="proveedort" name="proveedort">
                  {{regModel.proveedort[1]}}
                </button>
                <div style="color:red;" *ngIf="!formControlMateriales.controls['proveedort'].valid && !proveedortValido">
                    Campo requerido.
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button type="button" class="dropdown-item" *ngFor="let proveedort of proveedorest" (click)="onChangeProveedort(proveedort)">{{proveedort.nomPROVEEDORT}}</button>
                </div>
              </div>
          </div>

          <div class="form-group row">
              <label for="lastname-input" class="col-2 col-form-label control-label required">Ref proveedor</label>
              <div class="col-10">
                <input class="form-control"  type="text" maxlength="9" [(ngModel)]="regModel.refProveedor" [ngClass]="{'has-error': !formControlMateriales.controls['refProveedor'].valid && !refProveedorValido}" formControlName="refProveedor" name="refProveedor">
                <div style="color:red;" *ngIf="!formControlMateriales.controls['refProveedor'].valid && !cantidadValido">
                    Campo requerido.
                </div>
              </div>
            </div>
            
        <div class="form-group row">
          <label for="lastname-input" class="col-2 col-form-label control-label required">Origen</label>
          <div class="col-10">
            <input class="form-control" maxlength="100" type="text" [(ngModel)]="regModel.origen" [ngClass]="{'has-error': !formControlMateriales.controls['origen'].valid && !origenValido}" formControlName="origen" name="origen">
            <div style="color:red;" *ngIf="!formControlMateriales.controls['origen'].valid && !origenValido">
                Campo requerido.
            </div>
          </div>
         
        </div>
        <div class="form-group row">
          <label for="lastname-input" class="col-2 col-form-label control-label required">Destino</label>
          <div class="col-10">
            <input class="form-control" maxlength="100" type="text" [(ngModel)]="regModel.destino" [ngClass]="{'has-error': !formControlMateriales.controls['destino'].valid && !destinoValido}" formControlName="destino" name="destino">
            <div style="color:red;" *ngIf="!formControlMateriales.controls['destino'].valid && !destinoValido">
                Campo requerido.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="lastname-input" class="col-2 col-form-label control-label required">Placa</label>
          <div class="col-10">
            <input class="form-control" maxlength="9" type="text" [(ngModel)]="regModel.placa" [ngClass]="{'has-error': !formControlMateriales.controls['placa'].valid && !placaValido}" formControlName="placa" name="placa">
            <div style="color:red;" *ngIf="!formControlMateriales.controls['placa'].valid && !placaValido">
                Campo requerido. Placa inválida.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="lastname-input" class="col-2 col-form-label control-label required">Materiales</label>
          <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
              <button type="button" class="btn btn-outline-primary" id="dropdownManual3" name="selectMaterial" [ngClass]="{'has-error': !formControlMateriales.controls['material'].valid && !materialValido}" ngbDropdownToggle>
                  <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.material[0]" formControlName="material" name="material">
                {{regModel.material[1]}}
              </button>
              <div style="color:red;" *ngIf="!formControlMateriales.controls['material'].valid && !materialValido">
                  Campo requerido.
              </div>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button type="button" class="dropdown-item" *ngFor="let material of materiales" (click)="onChangeMaterial(material)">{{material.nomMATERIAL}}</button>
              </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastname-input" class="col-2 col-form-label control-label required">Unidad</label>
            <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
                <button type="button" class="btn btn-outline-primary" id="dropdownManual5" name="selectUnidad" [ngClass]="{'has-error': !formControlMateriales.controls['unidad'].valid && !unidadValido}" ngbDropdownToggle>
                    <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.unidad" formControlName="unidad" name="unidad">
                  {{regModel.unidad}}
                </button>
                <div style="color:red;" *ngIf="!formControlMateriales.controls['unidad'].valid && !unidadValido">
                    Campo requerido.
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button type="button" class="dropdown-item" *ngFor="let unidad of unidades" (click)="onChangeUnidad(unidad)">{{unidad}}</button>
                </div>
              </div>
          </div>
        <div class="form-group row">
          <label for="lastname-input" class="col-2 col-form-label control-label required">Cantidad</label>
          <div class="col-10">
            <input class="form-control"  type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  maxlength="5" [(ngModel)]="regModel.cantidad" [ngClass]="{'has-error': !formControlMateriales.controls['cantidad'].valid && !cantidadValido}" formControlName="cantidad" name="cantidad">
            <div style="color:red;" *ngIf="!formControlMateriales.controls['cantidad'].valid && !cantidadValido">
                Campo requerido.
            </div>
          </div>
        </div>
        <div class="form-group row">
            <label for="lastname-input" class="col-2 col-form-label control-label required">Entrada</label>
            <div class="col-10">
              <input  type="checkbox" [(ngModel)]="regModel.entrada" #checkboxEntrada (click)="checkEntrada(checkboxEntrada.checked)" [checked]="regModel.entrada==1"  name="entrada">
            </div>
          </div>

          <div class="form-group row">
              <label for="lastname-input" class="col-2 col-form-label control-label required">Salida</label>
              <div class="col-10">
                <input  type="checkbox" [(ngModel)]="regModel.salida" #checkboxSalida (click)="checkSalida(checkboxSalida.checked)" [checked]="regModel.salida==1"  name="salida">
              </div>
            </div>
        <div class="form-group row">
          <label for="fechaSelect" style="width:120px;" class="col-2 col-form-label control-label required">Fecha</label>
          <div class="col-3  input-group" >
            <input style="width:120px;" type="text" class="form-control" placeholder="yyyy-mm-dd" name="fecha" [ngClass]="{'has-error': !formControlMateriales.controls['fecha'].valid && !fechaValido}" formControlName="fecha" [(ngModel)]="regModel.fecha" ngbDatepicker #fecha="ngbDatepicker">
            <button class="input-group-addon" (click)="fecha.toggle()" type="button">
              <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>

        <div style="color:red;" *ngIf="!formControlMateriales.controls['fecha'].valid && !fechaValido">
            Campo requerido.
          </div>
        
        <div class="form-group row">
          <label for="timepicker1" class="col-2 col-form-label control-label required">Hora Entrada</label>
          <div>
            <ngb-timepicker id="timepicker1" formControlName="horaEntrada" name="timepicker1" [(ngModel)]="regModel.horaEntrada" ></ngb-timepicker>
          </div>
        </div>

        <div style="color:red;" *ngIf="!formControlMateriales.controls['horaEntrada'].valid && !horaEntradaValido">
            Campo requerido.
        </div>
        
        <div class="form-group row">
          <label for="timepicker2" class="col-2 col-form-label control-label required">Hora Salida</label>
          <div >
            <ngb-timepicker id="timepicker2" formControlName="horaSalida" name="timepicker2" [(ngModel)]="regModel.horaSalida" ></ngb-timepicker>
          </div>
        </div>

        <div style="color:red;" *ngIf="!formControlMateriales.controls['horaSalida'].valid && !horaSalidaValido">
            Campo requerido.
        </div>
        
        
        <br/>
        
        <button [disabled]="!guardo || (submitType == 'Update' && user.codRol==2)" type="submit" class="btn btn-primary"> <span class="fa fa-check"></span> Guardar</button>
        <button [disabled]="regModel.idCONTROL_MATERIALES==null"type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-Modal-Dest" (click)="seleccionarDestinatario()"><span class="fa fa-print"></span> Generar Recibo</button>
        <button type="submit" class="btn btn-danger" #modalClose data-dismiss="modal" (click)="onCancel()"><span class="fa fa-remove"></span> Cancelar</button>
        </form>
    </div>
  </div>
</div>


</div>

<div class="regentry" *ngIf="showDestinatario">
  <div class="modal fade" id="add-edit-Modal-Dest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-contentDet" style="margin-top: 50%;padding:20px;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seleccione destinatario...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <br/>

        <table style="margin-left:40px; width:80%" cellpadding="0" cellspacing="0" border="0" >
        
          <tbody>
            <tr>
              <td>
                Contabilidad:
              </td>
              <td style="width:50px">
                <input  type="checkbox" [(ngModel)]="regModelDestinatario.contabilidad" #checkboxContabilidad (click)="checkContabilidad(checkboxContabilidad.checked)" [checked]="regModelDestinatario.contabilidad==1"  name="contabilidad">
              </td>
            </tr>
            <br/>
            <tr>
              <td>
                Proveedoor/Obra:
              </td>
              <td>
                <input  type="checkbox" [(ngModel)]="regModelDestinatario.proveedor" #checkboxProveedor (click)="checkProveedor(checkboxProveedor.checked)" [checked]="regModelDestinatario.proveedor==1"  name="proveedor">
              </td>
            </tr>
            <br/>
            <tr>
              <td>
                Transportador:
              </td>
              <td>
                <input  type="checkbox" [(ngModel)]="regModelDestinatario.transportador" #checkboxTransportador (click)="checkTransportador(checkboxTransportador.checked)" [checked]="regModelDestinatario.transportador==1"  name="transportador">
              </td>
            </tr>
            <br/>

            <tr>
              <td>
                Despachador/Recibidor:
              </td>
              <td>
                <input  type="checkbox" [(ngModel)]="regModelDestinatario.despachador" #checkboxDespachador (click)="checkDespachador(checkboxDespachador.checked)" [checked]="regModelDestinatario.despachador==1"  name="despachador">
              </td>
            </tr>
            <br/>
            <tr>
              <td>
                Maestro:
              </td>
              <td>
                <input  type="checkbox" [(ngModel)]="regModelDestinatario.maestro" #checkboxMaestro (click)="checkMaestro(checkboxMaestro.checked)" [checked]="regModelDestinatario.maestro==1"  name="maestro">
              </td>
            </tr>
            <br/>
            

          </tbody>
          </table>
   
          <br>

          <div class="text-center">
            <button type="button" class="btn btn-primary"  (click)="generarRecibo()"><span class="fa fa-print"></span> Generar Recibo</button>
          </div>

      

  </div>
</div>
  
  </div>
</div>




</div>
