<div class="container">
   
  <h1>Reporte Equipos</h1>
  

<div class="reglist">

    <table>
        <thead>
            <tr>
              <th style="padding: 20px;">Número recibo:</th>
              <th style="padding: 20px;">Fecha desde:</th>
              <th style="padding: 20px;">Fecha hasta:</th>
              <th></th>
             
            </tr>
          </thead>
        <tbody>
            <tr >
                <td><div class="col-3 input-group">
                    <input type="text" name="fecha2" [(ngModel)]="numeroReciboFiltro">
                    
                </div>
                </td>
              <td> 
                     <div class="col-3 input-group">
                          <input type="text" style="width:120px;"  name="fecha1" [(ngModel)]="fechaDesdeFiltro" ngbDatepicker #fecha1="ngbDatepicker">
                          <button class="input-group-addon" (click)="fecha1.toggle()" type="button">
                            <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                          </button>
                      </div>
                      
                
                    </td>
              <td><div class="col-3 input-group">
                  <input type="text" style="width:120px;"   name="fecha2" [(ngModel)]="fechaHastaFiltro" ngbDatepicker #fecha2="ngbDatepicker">
                  <button class="input-group-addon" (click)="fecha2.toggle()" type="button">
                    <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                  </button>
              </div>
              </td>
              
               <td>
                  <button type="button" (click)="filtrar()" class="btn btn-info" >
                      <span class="fa fa-search"></span> 
                    </button>
              </td>
             
            </tr>
          </tbody>
      </table>
      <br/>
<table class="table table-striped">
<thead>
  <tr>
    <th>Numero Recibo</th>
    <th>Equipo</th>
    <th>Obra</th>
    <th>Propietario</th>
    <th>Total Horas</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let reporteEquipo of reporteEquipos | paginate: { id: 'listing_pagination',
  itemsPerPage: 5,
  currentPage: page,
  totalItems: totalRec }; let i = index">
   <td class="text-right">{{ reporteEquipo.idREPORTE_EQUIPO }}</td>
    <td>{{ reporteEquipo.equipo[1] }}</td>
    <td>{{ reporteEquipo.obra[1] }}</td>
    <td>{{ reporteEquipo.propietario[1] }}</td>
    <td class="text-right">{{ reporteEquipo.totalHoras }}</td>
    <td>{{ reporteEquipo.fecha.day + '/' + reporteEquipo.fecha.month + '/' + reporteEquipo.fecha.year}}</td>
    <td>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-edit-Modal" (click)="onEdit(i)"><span class="fa fa-pencil"></span> Editar</button>
    </td>
    <td>
        <button [disabled]="user.codRol==2" type="button" class="btn btn-danger"  data-toggle="modal" data-target="#myModal" (click)="confirmDelete(i)"><span class="fa fa-minus"></span> Eliminar</button>
    </td>
  </tr>
</tbody>
</table>
<div>
    <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>
<div class="text-left">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-Modal"  (click)="onNew()"><span class="fa fa-plus"></span> Agregar</button>
  <button type="button" class="btn btn-primary"  (click)="exportarExcel()"><span class="fa fa-file-excel-o"></span> Generar Excel</button>
</div>
</div>
<br>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirmación</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         ¿Está seguro que desea eliminar este elemento?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete(selectedIndex)">Sí</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
        
      </div>
    </div>
  </div>

<div class="regentry" *ngIf="showNew">
<div class="modal fade" id="add-edit-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="padding:20px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar/Editar Recibo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <br/>
      <form [formGroup]="formReporteEquipo" (ngSubmit)="onSave()">
        <div class="form-group row">
          <label for="idREPORTE_EQUIPO" class="col-2 col-form-label ">Número Recibo</label>
          <div class="col-10">
              <input  class="form-control"   type="text" maxlength="45" [(ngModel)]="regModel.idREPORTE_EQUIPO" formControlName="idREPORTE_EQUIPO" name="idREPORTE_EQUIPO">
          </div>
        </div>
        <div class="form-group row">
          <label for="city-input" class="col-2 col-form-label control-label required">Equipo</label>
          <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
            <button type="button" class="btn btn-outline-primary" id="dropdownManual1" name="equipoSelect"  [ngClass]="{'has-error': !formReporteEquipo.controls['equipo'].valid && !equipoValido}"  ngbDropdownToggle>{{regModel.equipo[1]}}</button>
            <div style="color:red;" *ngIf="!formReporteEquipo.controls['equipo'].valid && !equipoValido">
                Campo requerido.
              </div>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button type="button" class="dropdown-item" *ngFor="let equipo of equipos" (click)="onChangeEquipo(equipo)">
                  <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.equipo[0]" formControlName="equipo" name="equipo">
                {{equipo.nomEQUIPO}}</button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="lastname-input" class="col-2 col-form-label control-label required">Obra</label>
          <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
              <button type="button" class="btn btn-outline-primary" [ngClass]="{'has-error': !formReporteEquipo.controls['equipo'].valid && !equipoValido}" id="dropdownManual2" name="selectObra" ngbDropdownToggle>
                  <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.obra[0]" formControlName="obra" name="obra">
                {{regModel.obra[1]}}
              </button>
              <div style="color:red;" *ngIf="!formReporteEquipo.controls['obra'].valid && !obraValido">
                Campo requerido.
              </div>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button type="button" class="dropdown-item" *ngFor="let obra of obras" (click)="onChangeObra(obra)">{{obra.nomOBRA}}</button>
              </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastname-input" class="col-2 col-form-label control-label required">Propietario</label>
            <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
                <button type="button" class="btn btn-outline-primary" [ngClass]="{'has-error': !formReporteEquipo.controls['propietario'].valid && !propietarioValido}" id="dropdownManual4" name="selectPropietario" ngbDropdownToggle>
                    <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.propietario[0]" formControlName="propietario" name="propietario">
                  {{regModel.propietario[1]}}
                </button>
                <div style="color:red;" *ngIf="!formReporteEquipo.controls['propietario'].valid && !propietarioValido">
                    Campo requerido.
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button type="button" class="dropdown-item" *ngFor="let propietario of propietarios" (click)="onChangePropietario(propietario)">{{propietario.nomPROPIETARIO}}</button>
                </div>
              </div>
          </div>
        
        <div class="form-group row">
          <label for="lastname-input" class="col-2 col-form-label control-label required">Total Horas</label>
          <div class="col-10">
            <input class="form-control"  type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  maxlength="5" [(ngModel)]="regModel.totalHoras" [ngClass]="{'has-error': !formReporteEquipo.controls['totalHoras'].valid && !totalHorasValido}" formControlName="totalHoras" name="totalHoras">
            <div style="color:red;" *ngIf="!formReporteEquipo.controls['totalHoras'].valid && !totalHorasValido">
            </div>
          </div>
        </div>
        <div class="form-group row">
            <label for="lastname-input" class="col-2 col-form-label control-label required">Propio</label>
            <div class="col-10">
              <input  type="checkbox" [(ngModel)]="regModel.propio" #checkboxPropio (click)="checkPropio(checkboxPropio.checked)" [checked]="regModel.propio==1"  name="propio">
            </div>
          </div>

          <div class="form-group row">
              <label for="lastname-input" class="col-2 col-form-label control-label required">Alquilado</label>
              <div class="col-10">
                <input  type="checkbox" [(ngModel)]="regModel.alquilado" #checkboxAlquilado (click)="checkAlquilado(checkboxAlquilado.checked)" [checked]="regModel.alquilado==1"  name="alquilado">
              </div>
            </div>
        <div class="form-group row">
          <label for="fechaSelect" style="width:120px;" class="col-2 col-form-label control-label required">Fecha</label>
          <div class="col-3  input-group" >
            <input style="width:120px;" type="text" class="form-control" placeholder="yyyy-mm-dd" name="fecha" [ngClass]="{'has-error': !formReporteEquipo.controls['fecha'].valid && !fechaValido}" formControlName="fecha" [(ngModel)]="regModel.fecha" ngbDatepicker #fecha="ngbDatepicker">
            <button class="input-group-addon" (click)="fecha.toggle()" type="button">
              <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>

        <div style="color:red;" *ngIf="!formReporteEquipo.controls['fecha'].valid && !fechaValido">
            Campo requerido.
        </div>

        <div class="form-group row">
          <label for="observaciones" class="col-2 col-form-label control-label required">Observaciones</label>
          <div class="col-10">
            <textarea class="form-control"  [ngClass]="{'has-error': !formReporteEquipo.controls['observaciones'].valid && formReporteEquipo.controls['observaciones'].touched}"  maxlength="250" [(ngModel)]="regModel.observaciones" formControlName="observaciones" name="observaciones"></textarea>
           
        <div style="color:red;" *ngIf="!formReporteEquipo.controls['observaciones'].valid && !observacionesValido">
          Campo requerido.
      </div>
          </div>
        </div>
        
        
        <br/>
        
        <button [disabled]="!guardo || (submitType=='Update' && user.codRol==2)" type="submit" form="formReporteEquipo" (click)="onSave()" class="btn btn-primary"> <span class="fa fa-check"></span> Guardar</button>
        <button [disabled]="regModel.idREPORTE_EQUIPO==null" type="button" class="btn btn-primary"  (click)="generarRecibo()"><span class="fa fa-print"></span> Generar Recibo</button>
        <button type="submit" class="btn btn-danger" #modalClose data-dismiss="modal" (click)="onCancel()"><span class="fa fa-remove"></span> Cancelar</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-Modal-Det"  (click)="onVerDet()"><span class="fa fa-plus"></span> Detalle</button>
        </form>
    </div>
  </div>
</div>


</div>


                <div class="regentry" *ngIf="showVerDet">
                  <div class="modal fade" id="add-edit-Modal-Det" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content modal-contentDet" style="padding:20px;">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Detalle Reporte Equipo</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped">
                          <thead>
                            <tr>
                              <th style="width:30px">Hora Desde</th>
                              <th style="width:30px">Hora Hasta</th>
                              <th style="width:30px">Horas</th>
                              <th>Actividad</th>
                              <th></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let detReporteEquipo of detReporteEquipos | paginate: { id: 'listing_pagination2',
                            itemsPerPage: 5,
                            currentPage: page,
                            totalItems: totalRecDet }; let i = index">
                              <td>{{ detReporteEquipo.horaDesde.hour + ':' + detReporteEquipo.horaDesde.minute}}</td>
                              <td>{{ detReporteEquipo.horaHasta.hour + ':' + detReporteEquipo.horaHasta.minute}}</td>
                              <td class="text-right">{{ detReporteEquipo.horas}}</td>
                              <td  class="contentTD">{{ detReporteEquipo.actividad[1]}}</td>
                              <td>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-edit-Modal-NewDet" (click)="onEditDet(i)"><span class="fa fa-pencil"></span></button>
                              </td>
                              <td>
                                  <button [disabled]="user.codRol==2"  type="button" class="btn btn-danger"  data-toggle="modal" data-target="#myModalDet" (click)="confirmDeleteDet(i)"><span class="fa fa-minus"></span></button>
                              </td>
                            </tr>
                          </tbody>
                          </table>
                          <div>
                              <pagination-controls  id="listing_pagination2" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                          </div>
                          
                         
                          <br>

                          <div class="text-left">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-Modal-NewDet"  (click)="onNewDet()"><span class="fa fa-plus"></span> Agregar</button>
                          </div>

                      

                  </div>
                </div>
                  
                  </div>
              </div>





              <div class="regentry" *ngIf="showNewDet">
                  <div class="modal fade" id="add-edit-Modal-NewDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content" style="padding:20px;">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Agregar/Editar Detalle</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <br/>

                        <form [formGroup]="formDetReporteEquipo" (ngSubmit)="onSave()">
                           
                            
                            <div class="form-group row">
                              <label for="timepicker1" class="col-2 col-form-label control-label required">Hora Desde</label>
                              <div>
                                <ngb-timepicker id="timepicker1" formControlName="horaDesde" name="timepicker1" [(ngModel)]="detRegModel.horaDesde" ></ngb-timepicker>
                              </div>
                            </div>
                    
                            <div style="color:red;" *ngIf="!formDetReporteEquipo.controls['horaDesde'].valid && !horaDesdeValido">
                                Campo requerido.
                            </div>
                            
                            <div class="form-group row">
                              <label for="timepicker2" class="col-2 col-form-label control-label required">Hora Hasta</label>
                              <div >
                                <ngb-timepicker id="timepicker2" formControlName="horaHasta" name="timepicker2" [(ngModel)]="detRegModel.horaHasta" ></ngb-timepicker>
                              </div>
                            </div>
                    
                            <div style="color:red;" *ngIf="!formDetReporteEquipo.controls['horaHasta'].valid && !horaHastaValido">
                                Campo requerido.
                            </div>


                            <div class="form-group row">
                              <label for="lastname-input" class="col-2 col-form-label control-label required">Actividad</label>
                              <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
                                  <button type="button" class="btn btn-outline-primary" [ngClass]="{'has-error': !formDetReporteEquipo.controls['actividad'].valid && !actividadValido}" id="dropdownManual4" name="selectActividad" ngbDropdownToggle>
                                      <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="detRegModel.actividad[0]" formControlName="actividad" name="actividad">
                                    {{detRegModel.actividad[1]}}
                                  </button>
                                  <div style="color:red;" *ngIf="!formDetReporteEquipo.controls['actividad'].valid && !actividadValido">
                                      Campo requerido.
                                  </div>
                                  <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                    <button type="button" class="dropdown-item" *ngFor="let actividad of actividades" (click)="onChangeActividad(actividad)">{{actividad.nomACTIVIDAD}}</button>
                                  </div>
                                </div>
                            </div>
                            
                            
                            <br/>
                            
                            <button  [disabled]="submitType == 'Update' && user.codRol==2" type="submit" form="formDetReporteEquipo" class="btn btn-primary" (click)="onSaveDet()"> <span class="fa fa-check"></span> Agregar</button>
                            <button type="submit" class="btn btn-danger" #modalCloseDet data-dismiss="modal" (click)="onCancelDet()"><span class="fa fa-remove"></span> Cancelar</button>
                            </form>
                  </div>
                </div>
                  
                  </div>
              </div>


              <!-- The Modal -->
<div class="modal fade" id="myModalDet">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirmación</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         ¿Está seguro que desea eliminar este elemento?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteDet(selectedIndexDet)">Sí</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
        
      </div>
    </div>
  </div>



   


</div>
