<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <img src ="../../assets/img/1.png" style="width: 50px; height:50px; border-radius: 25px;"> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="collapse()"
  data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">

        <li  *ngIf="user.codRol == 1" class="dropdown">
            <a href="#" data-toggle="dropdown"  class="dropdown-toggle nav-link">Parámetros</a>
            <ul class="dropdown-menu">
                
                  <li class="nav-item"  data-target="#navbarsExampleDefault" data-toggle="collapse">
                    <a class="nav-link"  routerLink="obra">Obras</a>
                  </li>

                  <li class="nav-item"  data-target="#navbarsExampleDefault"  data-toggle="collapse" >
                      <a class="nav-link"  routerLink="cliente">Clientes</a>
                  </li>

                  <li class="nav-item"  data-target="#navbarsExampleDefault"  data-toggle="collapse">
                      <a class="nav-link"  routerLink="proveedor">Proveedores</a>
                  </li>

                  <li class="nav-item"  data-target="#navbarsExampleDefault"  data-toggle="collapse">
                      <a class="nav-link"  routerLink="material">Materiales</a>
                  </li>

                  <li class="nav-item"  data-target="#navbarsExampleDefault" data-toggle="collapse">
                      <a class="nav-link"  routerLink="equipo">Equipos</a>
                  </li>

                  <li class="nav-item"  data-target="#navbarsExampleDefault" data-toggle="collapse">
                      <a class="nav-link"  routerLink="propietario">Propietarios</a>
                  </li>

                  <li class="nav-item"  data-target="#navbarsExampleDefault" data-toggle="collapse">
                    <a class="nav-link"  routerLink="actividad">Actividades</a>
                  </li>

                  <li class="nav-item"  data-target="#navbarsExampleDefault" data-toggle="collapse">
                    <a class="nav-link"  routerLink="proveedort">Prov. Transporte</a>
                  </li>

                  <li class="nav-item"  data-target="#navbarsExampleDefault" data-toggle="collapse">
                    <a class="nav-link"  routerLink="obraProveedort">Obra Precios</a>
                  </li>

                  <li class="nav-item"  data-target="#navbarsExampleDefault" data-toggle="collapse">
                    <a class="nav-link"  routerLink="usuario">Usuarios</a>
                </li>
                
            </ul>
        </li>


      <li *ngIf="user.codRol == 1 || user.codRol == 2" class="nav-item"  data-target="#navbarsExampleDefault" data-toggle="collapse">
        <a class="nav-link"  routerLink="registration">Control Materiales</a>
      </li>
      <li *ngIf="user.codRol == 1 || user.codRol == 2"  class="nav-item"  data-target="#navbarsExampleDefault" data-toggle="collapse">
        <a class="nav-link"  routerLink="control-equipos">Control Equipos</a>
      </li>
      <li *ngIf="!(user.codRol=='')" class="nav-item"  data-target="#navbarsExampleDefault" data-toggle="collapse">
        <a class="nav-link"  (click)="user.salir()">Salir</a>
      </li>
    </ul> 
    <div *ngIf="!(user.codRol=='')" class="usertext"><i class="fa fa-user-circle-o" style="color:white; font-size: 24px;"></i> {{user.username}}</div>
  
  </div>
</nav>
