<div class="container">

  <h1>Gestión Usuarios</h1>


  <div class="reglist">

    <table>
      <thead>
        <tr>
          <th style="padding: 20px;">Nombre Usuario:</th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>

            <div class="col-3 input-group">
              <input type="text" style="width:120px;" name="filtroNombre" [(ngModel)]="filtroNombre" />

            </div>


          </td>
          <td>
            <button type="button" (click)="filtrar()" class="btn btn-info">
              <span class="fa fa-search"></span>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
    <br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre Usuario</th>
          <th>Login</th>
          <th>Rol</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios | paginate: { id: 'listing_pagination',
  itemsPerPage: 5,
  currentPage: page,
  totalItems: totalRec }; let i = index">
          <td>{{ usuario.idUSUARIO }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.login }}</td>
          <td>{{ usuario.rol[1] }}</td>
          <td>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-edit-Modal" (click)="onEdit(i)">
              <span class="fa fa-pencil"></span> Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="confirmDelete(i)">
              <span class="fa fa-minus"></span> Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="text-left">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-Modal" (click)="onNew()">
        <span class="fa fa-plus"></span> Agregar</button>
      <button type="button" class="btn btn-primary" (click)="exportarExcel()">
        <span class="fa fa-file-excel-o"></span> Generar Excel</button>
    </div>
  </div>
  <br>



  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirmación</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          ¿Está seguro que desea eliminar este elemento?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete(selectedIndex)">Sí</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>




  <div class="regentry" *ngIf="showNew">
    <div class="modal fade" id="add-edit-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:20px;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar/Editar Usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <br/>
          <form [formGroup]="formUsuario" (ngSubmit)="onSave()">
            <div class="form-group row">
              <label for="idUSUARIO" class="col-2 col-form-label">Id Usuario</label>
              <div class="col-10">
                <input class="form-control" type="text" maxlength="45" [(ngModel)]="regModel.idUSUARIO" formControlName="idUSUARIO" name="idUSUARIO">
              </div>
            </div>
            <div class="form-group row">
              <label for="login" class="col-2 col-form-label control-label required">Login</label>
              <div class="col-10">
                <input class="form-control" [ngClass]="{'has-error': !formUsuario.controls['login'].valid && formUsuario.controls['login'].touched}"
                  type="text" maxlength="45" [(ngModel)]="regModel.login" formControlName="login" name="login">
                <div style="color:red;" *ngIf="!formUsuario.controls['login'].valid && formUsuario.controls['login'].touched">
                  Campo requerido.
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="nombre" class="col-2 col-form-label control-label required">Nombre Usuario</label>
              <div class="col-10">
                <input class="form-control" [ngClass]="{'has-error': !formUsuario.controls['nombre'].valid && formUsuario.controls['nombre'].touched}"
                  type="text" maxlength="45" [(ngModel)]="regModel.nombre" formControlName="nombre" name="nombre">
                <div style="color:red;" *ngIf="!formUsuario.controls['nombre'].valid && formUsuario.controls['nombre'].touched">
                  Campo requerido.
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-2 col-form-label control-label required">Password</label>
              <div class="col-10">
                <input *ngIf="showPassword"  type="text" class="form-control" [ngClass]="{'has-error': !formUsuario.controls['password'].valid && formUsuario.controls['password'].touched}"
                  maxlength="20" [(ngModel)]="regModel.password" formControlName="password" name="password">

                  <input *ngIf="!showPassword" type="password" class="form-control" [ngClass]="{'has-error': !formUsuario.controls['password'].valid && formUsuario.controls['password'].touched}"
                  maxlength="20" [(ngModel)]="regModel.password" formControlName="password" name="password">
                  <i style="position: relative;float: right;top: -26px;right: 3px; cursor:pointer" (click)="verPassword()" class="fa fa-eye"></i>
                <div style="color:red;" *ngIf="!formUsuario.controls['password'].valid && formUsuario.controls['password'].touched">
                  Campo requerido.
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="lastname-input" class="col-2 col-form-label control-label required">Rol</label>
              <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
                <button type="button" class="btn btn-outline-primary" [ngClass]="{'has-error': !formUsuario.controls['rol'].valid}" id="dropdownManual4"
                  name="selectRol" ngbDropdownToggle>
                  <input class="form-control" style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.rol[0]" formControlName="rol"
                    name="rol"> {{regModel.rol[1]}}
                </button>
                <div style="color:red;" *ngIf="!formUsuario.controls['rol'].valid">
                  Campo requerido.
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button type="button" class="dropdown-item" *ngFor="let rol of roles" (click)="onChangeRol(rol)">{{rol.desROL}}</button>
                </div>
              </div>
            </div>


            <div class="text-left">
              <button type="submit" class="btn btn-primary" [disabled]="!formUsuario.valid">
                <span class="fa fa-check"></span> Guardar</button>
              <button type="submit" class="btn btn-danger" #modalClose data-dismiss="modal" (click)="onCancel()">
                <span class="fa fa-remove"></span> Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>


</div>