



<form (submit)="loginUser($event)">
	<div class="input">
		<label>Username</label>
		<input type="text">
	</div>
	<div class="input">
		<label>Password</label>
		<input type="password">
	</div>

	<div style="color:red;padding: 10px 20px;" *ngIf="passwordInvalido">
			Username y/o Password incorrectos.
	</div>
	<div class="input">
		<input type="submit" class="btn btn-primarylogin" value="Login">
	</div>
</form>
