<div class="container">
   
  <h1>Gestión Actividades</h1>
  

<div class="reglist">

    <table>
        <thead>
            <tr>
              <th style="padding: 20px;">Nombre Actividad:</th>
              <th></th>
             
            </tr>
          </thead>
        <tbody>
            <tr >
              <td> 
                  
                      <div class="col-3 input-group">
                          <input type="text" style="width:120px;"  name="filtroNombre" [(ngModel)]="filtroNombre"/>
                         
                      </div>
                      
                
                    </td>
               <td>
                  <button type="button" (click)="filtrar()" class="btn btn-info" >
                      <span class="fa fa-search"></span> 
                    </button>
              </td>
             
            </tr>
          </tbody>
      </table>
      <br/>
<table class="table table-striped">
<thead>
  <tr>
    <th>Id</th>
    <th>Nombre Actividad</th>
    <th>Descripción Actividad</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let actividad of actividades | paginate: { id: 'listing_pagination',
  itemsPerPage: 5,
  currentPage: page,
  totalItems: totalRec }; let i = index">
    <td>{{ actividad.idACTIVIDAD }}</td>
    <td>{{ actividad.nomACTIVIDAD }}</td>
    <td>{{ actividad.desACTIVIDAD }}</td>
    <td>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-edit-Modal" (click)="onEdit(i)"><span class="fa fa-pencil"></span> Editar</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#myModal" (click)="confirmDelete(i)"><span class="fa fa-minus"></span> Eliminar</button>
    </td>
  </tr>
</tbody>
</table>
<div>
  <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
  </div>
<div class="text-left">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-Modal"  (click)="onNew()"><span class="fa fa-plus"></span> Agregar</button>
  <button type="button" class="btn btn-primary"  (click)="exportarExcel()"><span class="fa fa-file-excel-o"></span> Generar Excel</button>
</div>
</div>
<br>  



<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirmación</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
       ¿Está seguro que desea eliminar este elemento?
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete(selectedIndex)">Sí</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
      
    </div>
  </div>
</div>




<div class="regentry" *ngIf="showNew">
<div class="modal fade" id="add-edit-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="padding:20px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar/Editar Actividad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <br/>
      <form [formGroup]="formActividad" (ngSubmit)="onSave()">
        <div class="form-group row">
          <label for="idACTIVIDAD" class="col-2 col-form-label">Id Actividad</label>
          <div class="col-10" >
            <input  class="form-control"   type="text" maxlength="45" [(ngModel)]="regModel.idACTIVIDAD" formControlName="idACTIVIDAD" name="idACTIVIDAD">
          </div>
        </div>
        <div class="form-group row">
          <label for="nomACTIVIDAD" class="col-2 col-form-label control-label required">Nombre Actividad</label>
          <div class="col-10" >
            <input  class="form-control" [ngClass]="{'has-error': !formActividad.controls['nomACTIVIDAD'].valid && formActividad.controls['nomACTIVIDAD'].touched}"  type="text" maxlength="45" [(ngModel)]="regModel.nomACTIVIDAD" formControlName="nomACTIVIDAD" name="nomACTIVIDAD">
            <div style="color:red;" *ngIf="!formActividad.controls['nomACTIVIDAD'].valid && formActividad.controls['nomACTIVIDAD'].touched">
              Campo requerido.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="desACTIVIDAD" class="col-2 col-form-label control-label required">Descripción Actividad</label>
          <div class="col-10">
            <textarea class="form-control"  [ngClass]="{'has-error': !formActividad.controls['desACTIVIDAD'].valid && formActividad.controls['desACTIVIDAD'].touched}"  maxlength="250" [(ngModel)]="regModel.desACTIVIDAD" formControlName="desACTIVIDAD" name="desACTIVIDAD"></textarea>
            <div style="color:red;" *ngIf="!formActividad.controls['desACTIVIDAD'].valid && formActividad.controls['desACTIVIDAD'].touched">
              Campo requerido.
            </div>
          </div>
        </div>
        <div class="text-left">
        <button type="submit" class="btn btn-primary"  [disabled]="!formActividad.valid"> <span class="fa fa-check"></span> Guardar</button>
        <button type="submit" class="btn btn-danger" #modalClose data-dismiss="modal" (click)="onCancel()"><span class="fa fa-remove"></span> Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>


</div>


</div>
