<div class="container">

  <h1>Obra - Prov. Transporte</h1>


  <div class="reglist">

    <table>
      <thead>
        <tr>
          <th style="padding: 20px;">Nombre Obra:</th>
          <th style="padding: 20px;">Nombre Prov. Transporte:</th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="col-3 input-group">
              <input type="text" style="width:120px;" name="filtroNombreObra" [(ngModel)]="filtroNombreObra" />
            </div>
          </td>

          <td>
            <div class="col-3 input-group">
              <input type="text" style="width:120px;" name="filtroNombreProveedort" [(ngModel)]="filtroNombreProveedort" />
            </div>
          </td>

          <td>
            <button type="button" (click)="filtrar()" class="btn btn-info">
              <span class="fa fa-search"></span>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
    <br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Obra</th>
          <th>Prov. Transporte</th>
          <th>Precio Material</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obraProveedort of obraProveedorest | paginate: { id: 'listing_pagination',
          itemsPerPage: 5,
          currentPage: page,
          totalItems: totalRec }; let i = index">
          <td>{{ obraProveedort.idOBRAPROVEEDORT }}</td>
          <td>{{ obraProveedort.obra[1] }}</td>
          <td>{{ obraProveedort.proveedort[1] }}</td>
          <td>{{ obraProveedort.precio }}</td>
          <td>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-edit-Modal" (click)="onEdit(i)">
              <span class="fa fa-pencil"></span> Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="confirmDelete(i)">
              <span class="fa fa-minus"></span> Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="text-left">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-Modal" (click)="onNew()">
        <span class="fa fa-plus"></span> Agregar</button>
      <button type="button" class="btn btn-primary" (click)="exportarExcel()">
        <span class="fa fa-file-excel-o"></span> Generar Excel</button>
    </div>
  </div>
  <br>



  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirmación</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          ¿Está seguro que desea eliminar este elemento?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete(selectedIndex)">Sí</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>




  <div class="regentry" *ngIf="showNew">
    <div class="modal fade" id="add-edit-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:20px;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar/Editar Obra Prov. Transporte</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <br/>
          <form [formGroup]="formObraProveedort" (ngSubmit)="onSave()">
            <div class="form-group row">
              <label for="idOBRAPROVEEDORT" class="col-2 col-form-label">Id Obra Prov. Transporte</label>
              <div class="col-10">
                <input class="form-control" type="text" maxlength="45" [(ngModel)]="regModel.idOBRAPROVEEDORT" formControlName="idOBRAPROVEEDORT"
                  name="idOBRAPROVEEDORT">
              </div>
            </div>
            <div class="form-group row">
              <label for="lastname-input" class="col-2 col-form-label control-label required">Obra</label>
              <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
                  <button type="button" class="btn btn-outline-primary" [ngClass]="{'has-error': !formObraProveedort.controls['obra'].valid && !obraValido}" id="dropdownManual2" name="selectObra" ngbDropdownToggle>
                      <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.obra[0]" formControlName="obra" name="obra">
                    {{regModel.obra[1]}}
                  </button>
                  <div style="color:red;" *ngIf="!formObraProveedort.controls['obra'].valid && !obraValido">
                    Campo requerido.
                  </div>
                  <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button type="button" class="dropdown-item" *ngFor="let obra of obras" (click)="onChangeObra(obra)">{{obra.nomOBRA}}</button>
                  </div>
                </div>
            </div>

            <div class="form-group row">
              <label for="lastname-input" class="col-2 col-form-label control-label required">Provedor Transporte</label>
              <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
                  <button type="button" class="btn btn-outline-primary" [ngClass]="{'has-error': !formObraProveedort.controls['proveedort'].valid && !proveedortValido}" id="dropdownManual5" name="selectProveedort" ngbDropdownToggle>
                      <input  class="form-control"  style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.proveedort[0]" formControlName="proveedort" name="proveedort">
                    {{regModel.proveedort[1]}}
                  </button>
                  <div style="color:red;" *ngIf="!formObraProveedort.controls['proveedort'].valid && !proveedortValido">
                      Campo requerido.
                  </div>
                  <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button type="button" class="dropdown-item" *ngFor="let proveedort of proveedorest" (click)="onChangeProveedort(proveedort)">{{proveedort.nomPROVEEDORT}}</button>
                  </div>
                </div>
            </div>

            <div class="form-group row">
              <label for="lastname-input" class="col-2 col-form-label control-label required">Precio $</label>
              <div class="col-10">
                <input class="form-control"  type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  maxlength="8" [(ngModel)]="regModel.precio" [ngClass]="{'has-error': !formObraProveedort.controls['precio'].valid && !precioValido}" formControlName="precio" name="precio">
                <div style="color:red;" *ngIf="!formObraProveedort.controls['precio'].valid && !precioValido">
                    Campo requerido.
                </div>
              </div>
            </div>

            
            <div class="text-left">
              <button type="submit" class="btn btn-primary" [disabled]="!formObraProveedort.valid">
                <span class="fa fa-check"></span> Guardar</button>
              <button type="submit" class="btn btn-danger" #modalClose data-dismiss="modal" (click)="onCancel()">
                <span class="fa fa-remove"></span> Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>


</div>